---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import Link from '../components/Link.astro';
import Formular from "../components/Nyhedsbrev.astro";
import { Image } from 'astro:assets';
import ForsideKaffe from '../assets/images/forside_kaffe.webp';
---
<MainLayout title="Forside">

  <!-- Hero med stemningsvideo -->
 
 </section>
  <div class="video">
        <video src="/ny-esso-hero-stemning.mp4" autoplay loop muted class="h-screen md:w-screen object-cover pb-spacing-4xl"></video>
      </div>    

       <div class="absolute bottom-36 left-1/2 transform -translate-x-1/2 z-10">
    <img
      src="/pilned.svg"
      alt="Scroll ned"
      class="w-12 h-12"
    />
  </div>
  </section>

 <!-- Kort intro og billeder -->
<section class="flex flex-col md:flex-row py-20 md:px-32 gap-28 items-center">
<div>
<Image src={ForsideKaffe} alt='en kaffe bliver lavet' class="h-[450px] w-[450px] object-cover rounded-3xl"/>
</div>

<div class="mx-5 md:w-2/4">
<h2 class=" text-left text-40 md:text-50 font- mb-8">Velkommen til Esso - én café med mere på hjerte</h2>
<p class=" text-left  text-darkgreyblue-500 font-LivvicRegular text-18 md:text-18">Hos Esso handler det ikke om at skynde sig. Vi inviterer dig ind i et rum, hvor stemningen er rolig, kaffen er god, og detaljerne tæller.
Alt hos os er lavet fra bunden – med kærlighed og fokus på kvalitet. Kom og smag vores hjemmelavede toast, kager og forfriskende drikke – vi lover, du kan smage forskellen. <br> <br>

Om du er på udkig efter en stille stund eller lidt luft i en travl hverdag, er du velkommen her. Her er der plads til både dem, der kommer alene med en bog under armen, og dem, der kommer for at dele grin over en god kop kaffe.</p>
</section>

 <!-- CTA -->

 <!-- Afsnit om Esso + CTA-knap (mikro) til Om os -->
 <section>
  <h2>Mikrokonvertering: Kort om Esso og CTA til Om os, fx "Læs mere om os"</h2>
</section>
 
 <!-- Afsnit om fysiske salgsprodukter + CTA-knap (makro) til Menu-->
 <section>
  <h2>Makrokonvertering: Kort om produkter og CTA til Menu, fx "Se menu"</h2>
</section>
 
 <!-- Instagram Feed -->
 <section>
  <h2>Sektion med Instagram-feed (galleri)</h2>
</section>

 <!-- Nyhedsbrev: Kontaktformular med CTA-knap -->
  <Formular />

</MainLayout>