---
// Importer nødvendige komponenter
import MainLayout from "../layouts/MainLayout.astro";
import Formular from "../components/Formular.astro";
import CTASektion from "../components/CTASektion.astro";
---

<MainLayout title="Kontakt - Esso Café">
  <!-- Hero billede + logo -->

 <!-- Brødkrummesti-->

 <!-- Ris og ros-->
  <section>
    <h2>Ris og ris</h2>
    <p>Kort tekst vedr. kontakt/ris eller ros/forespørgsel osv) m. illustration/billede og formular</p>
  </section>
 
    <!-- Kontaktinfo -->
    <section>
      <h3>Kontaktinfo</h3>
      <p>E-mail: essocph@gmail.com</p>
      <p>Telefon: +45 60 67 08 81</p>
      <p>Adresse: Vigerslev Allé 36, st., dør 1</p>
    </section>

  <!-- Åbningstider -->
  <section>
    <h2>Åbningstider</h2>
    <p>Kl. 9-17 alle dage pånær mandag</p>
  </section>

  <!-- CTA sektion -->
  <CTASektion heading="Besøg os" text="Se åbningstider eller Find os her" />

   <!-- Sociale medier med CTA-ikoner -->
   <section>
    <h2>Følg med her</h2>
    <p>(Ikoner til Instagram + Facebook) - Følg os på SoMe: Instagram + Fb </p>
  </section>

<!-- Kontaktformular -->
  <Formular />

</MainLayout>
