---
// Importer nødvendige komponenter
import MainLayout from "../layouts/MainLayout.astro";
import Formular from "../components/Nyhedsbrev.astro";
import { Image } from 'astro:assets';
import Kontakt1 from '../assets/images/kontakt1.webp';
import Button from "../components/Button.astro";

const {variant= "primary" , size= "medium"} = Astro.props;

const buttonStyling = "text-white rounded-border-radius-25 py-[15px] transition transform hover:opacity-[.66] font-semibold"


const variantClasses = 
{
    primary : "bg-color-mørkebrun px-[80px]",
    secondary: "bg-color-lysebrun px-[80px]",
};

// small for mobil og medium for desktop
const sizeClasses = {
    small: "text-16",
    medium: "text-18",
};

---

<MainLayout title="Kontakt">
<!-- Formular.astro -->
<section class="px-spacing-m pt-spacing-6xl pb-spacing-4xl">
  <div class="max-w-6xl mx-auto grid md:grid-cols-2 gap-spacing-m md:gap-spacing-5xl items-start">
    <!-- Venstre kolonne med tekst og formular -->
    <div>
      <h1 class="font-EBGaramond md:text-52 text-44 font-medium text-color-mørkebrun mb-spacing-s">
        Vi vil gerne høre fra dig
      </h1>
      <p class="font-LivvicRegular text-18 text-color-mørkebrun mb-spacing-ml leading-28">
        Uanset om du har spørgsmål, ris eller ros, så er du altid velkommen til at kontakte os. <br>
        Udfyld blot kontaktformularen – så vender vi tilbage til dig så hurtigt vi kan.
      </p>

      <form class="space-y-6">
        <div>
          <label for="navn" class="block text-color-mørkebrun mb-1">Navn</label>
          <input
            type="text"
            id="navn"
            name="navn"
            class="w-full border-0 border-b border-color-mørkebrun bg-transparent focus:outline-none focus:ring-0 focus:border-color-lysebrun py-2"
          />
        </div>

        <div>
          <label for="email" class="block text-color-mørkebrun mb-1">Email</label>
          <input
          type="email"
          id="email"
          name="email"
          class="w-full border-0 border-b border-color-mørkebrun bg-transparent focus:outline-none focus:ring-0 focus:border-color-lysebrun py-2"
        />
        </div>

        <div>
          <label for="besked" class="block text-color-mørkebrun mb-1"></label>
          <textarea id="besked" name="besked" rows="6" placeholder="Skriv din besked her..." class="w-full border border-color-mørkebrun rounded-lg bg-transparent mt-spacing-s-(mobil) p-3 focus:outline-none"></textarea>
        </div>

       <!-- Send-knap -->
          <a href="/">
          <Button variant="secondary" size="md:medium small">Send</Button>
        </a>

      </form>
    </div>

      <!-- Højre kolonne med billede -->
    <div>
        <Image
          src={Kontakt1}
          alt="en kaffe bliver lavet"
          class="h-[380px] w-[380px] object-cover object-[40%_88%] rounded-border-radius-25 md:h-[560px] md:w-[480px] md:mt-[70px]"
        />
      </div>
    </div>
</section>

<section class="text-color-mørkebrun px-0 py-0 pl-0 md:relative left-[-20px]">
  <div class="max-w-6xl mx-auto grid grid-cols-1 md:grid-cols-3 md:gap-spacing-5xl gap-y-spacing-xl-(mobil) text-sm">

    <!-- Følg os -->
    <div>
      <h1 class="font-EBGaramond font-medium md:text-52 text-44 md:mb-spacing-lg mb-spacing-xl-(mobil)">Følg os</h1>
      
      <div class="flex items-start md:gap-x-spacing-ml flex-col md:flex-row">
        <div>
          <h3 class="font-EBGaramond md:text-36 text-28 mb-spacing-xs">Instagram</h3>
          <a href="https://www.instagram.com/esso_cph/" target="_blank" rel="noopener noreferrer" class="font-EBGaramond md:text-28 text-20 hover:underline">
            @esso_cph
          </a>
        </div>

        <div>
          <h3 class="font-EBGaramond md:text-36 text-28 mb-spacing-xs">Facebook</h3>
          <a href="https://www.facebook.com/Realiserbar" target="_blank" rel="noopener noreferrer" class="font-EBGaramond md:text-28 text-20 hover:underline">
            /essocph
          </a>
        </div>
      </div>
    </div>

    <!-- Kontakt -->
    <div>
      <h1 class="font-EBGaramond font-medium md:text-52 text-44 md:mb-spacing-lg mb-spacing-xl-(mobil)">Kontakt</h1>

      <div class="flex flex-col md:flex-row md:gap-x-spacing-5xl gap-y-spacing-xs">
        <div class="flex flex-col md:w-[45%]">
          <h3 class="font-EBGaramond md:text-36 text-28 mb-spacing-xs">E-mail</h3>
          <a href="mailto:essocph@gmail.com" class="font-EBGaramond text-28 hover:underline">
            essocph@gmail.com
          </a>
        </div>

        <div class="flex flex-col md:w-[55%]">
          <h3 class="font-EBGaramond md:text-36 text-28 mb-spacing-xs">Telefon</h3>
          <h4 class="font-EBGaramond text-28 md:w-[200%]">+45 60 67 08 81</h4>
        </div>
      </div>
    </div>

    <!-- Åbningstider -->
    <div>
      <h1 class="font-EBGaramond font-medium md:text-52 text-44 md:mb-spacing-lg mb-spacing-xl-(mobil) md:pl-spacing-2xl">Åbningstider</h1>
      <h4 class="font-EBGaramond md:text-28 text-20 mb-0 md:pl-spacing-2xl md:w-[120%]">Tirs - Søn: Kl. 09-17</h4>
      <h4 class="font-EBGaramond md:text-28 text-20 md:pl-spacing-2xl md:w-[120%]">Lukket hver mandag</h4>
    </div>

  </div>
</section>

  <Formular />

</MainLayout>
