---
import MainLayout from "../layouts/MainLayout.astro";
import Nyhedsbrev from "../components/Nyhedsbrev.astro";
import { Image } from 'astro:assets';
import menuhero from "../assets/images/hero_menu.webp";
import matcha from "../assets/images/matchaillu.webp";
---

<MainLayout title="Menu">
  <!-- OBS: NYT HERO IMAGE!!!  -->
  <section class="pb-48">
    <div class="relative">
      <Image 
                src={menuhero} alt='billede af cheesecake' class="h-[515px] w-[350px] scale-150 md:max-h-[600px] md:w-[1152px] object-cover md:object-cover"/>
    <div class="absolute inset-0 text-center pt-24 md:pt-56  md:mt-20 m-20 mt-52 md:m-0">
    <h1 class="text-44 md:text-52 font-EBGaramond md:mb-[-40px] mb-10 text-color-mørkebrun">Menu</h1>
    </div>
    </div>
  </section>


  <div class="px-16 pt-6 pb-spacing-6xl-(mobil) md:px-28 md:pt-spacing-3xl-(mobil)">
    <h1 class="text-44 font-EBGaramond text-center md:text-44">Kom forbi og smag på vores hjemmelavede udvalg
      <br> Spørg venligst ved allergener</h1>
    
      <!-- eksempel på knapper for at scroll ned til kategorier se på desktop-->
      <!-- <a href="">
        <div class="md:pt-20 md:pl-10">
          <button class="bg-white font-EBGaramond text-20 border border-color-mørkebrun md:px-8 md:py-3 rounded-border-radius-25 md:border-2 md:hover:bg-color-mørkebrun md:hover:text-white md:transition md:ease-in-out md:hover:scale-110"> Varme drikke</button>
        </div>
      </a> -->
  </div>


  <!-- varme drikke -->
  <section class="varmedrikke px-10 md:px-32">
    <h2 class="text-36 font-EBGaramond md:text-44 md:pl-20">Varme drikke</h2>




    <div class="grid grid-cols-2 gap-x-8 gap-y-12 px-4 pt-16 md:pl-24 md:gap-y-14">
      <div>
        <h3 class="text-28 font-EBGaramond pb-3">Dobbelt Espresso</h3>
        <p class="text-18 font-LivvicRegular pr-2 md:pr-28">Èt shot af vores espresso blend med noter af bær og karamel fra Just Coffee</p>
        <p class="text-18 font-LivvicRegular pt-2">30,-</p>
      </div>
    
      <div>
        <h3 class="text-28 font-EBGaramond pb-3">Americano</h3>
        <p class="text-18 font-LivvicRegular md:pr-28">Èt shot espresso toppet med cremet og steamet mælk fra Just Coffee</p>
        <p class="text-18 font-LivvicRegular pt-2">38,-</p>
      </div>
    
      <div>
        <h3 class="text-28 font-EBGaramond pb-3">Cortado</h3>
        <p class="text-18 font-LivvicRegular pr-2 md:pr-28">Èt shot espresso toppet med cremet og steamet mælk fra Just Coffee</p>
        <p class="text-18 font-LivvicRegular pt-2">40,-</p>
      </div>

      <div>
        <h3 class="text-28 font-EBGaramond pb-3">Flat White </h3>
        <p class="text-18 font-LivvicRegular md:pr-28">Dobbelt espresso toppet med steamet og cremet mælk fra Just Coffee</p>
        <p class="text-18 font-LivvicRegular pt-2">40,-</p>
      </div>
    
      <div>
        <h3 class="text-28 font-EBGaramond pb-3">Cappuccino</h3>
        <p class="text-18 font-LivvicRegular pr-2 md:pr-28">Èt espresso shot toppet med ekstra cremet og steamet mælk fra Just Coffee</p>
        <p class="text-18 font-LivvicRegular pt-2">42,-</p>
      </div>
   
      <div>
        <h3 class="text-28 font-EBGaramond pb-3">Café Latte</h3>
        <p class="text-18 font-LivvicRegular md:pr-28">Èt shot espresso toppet med cremet og steamet mælk fra Just Coffee</p>
        <p class="text-18 font-LivvicRegular pt-2">45,-</p>
      </div>

      <div>
        <h3 class="text-28 font-EBGaramond pb-3">Matcha Latte</h3>
        <p class="text-18 font-LivvicRegular pr-2 md:pr-28">Cremet latte lavet på matcha </p>
        <p class="text-18 font-LivvicRegular pt-2">65,-</p>
      </div>

      <div>
        <h3 class="text-28 font-EBGaramond pb-3">Hot Chocolate</h3>
        <p class="text-18 font-LivvicRegular md:pr-28">Varm og creamet kakao toppet med steamet mælk</p>
        <p class="text-18 font-LivvicRegular pt-2">45,-</p>
      </div>

      <div>
        <h3 class="text-28 font-EBGaramond pb-3">Genmaicha tea</h3>
        <p class="text-18 font-LivvicRegular pr-2 md:pr-28">Japansk grøn te blandet med ristet ris og nøddeagtig smag</p>
        <p class="text-18 font-LivvicRegular pt-2">35,-</p>
      </div>

      <div>
        <h3 class="text-28 font-EBGaramond pb-3">Hõjicha tea</h3>
        <p class="text-18 font-LivvicRegular md:pr-28">Grøn te ristet ved høj varme med lavt koffeinindhold</p>
        <p class="text-18 font-LivvicRegular pt-2">35,-</p>
      </div>

      <div>
        <h3 class="text-28 font-EBGaramond pb-3">Havremælk</h3>
        <p class="text-18 font-LivvicRegular pr-2 md:pr-28">Havremælk fra Naturli - et plantealternativt til komælk </p>
        <p class="text-18 font-LivvicRegular pt-2">5,-</p>
      </div>

      <div class="col-span-2 md:col-span-1 flex justify-center pt-12 md:pr-52">
        <Image src={matcha} alt="illustration af matcha kaffe og kaffebønner" class="w-56 h-52" />
      </div>
    </div>
    
    

    <hr class="my-10 mx-4 border-color-mørkebrun">
  </section>
 































<Nyhedsbrev></Nyhedsbrev>
</MainLayout>
