---
// Importer nødvendige komponenter
import MainLayout from "../layouts/MainLayout.astro";
import Formular from "../components/Nyhedsbrev.astro";
import { Image } from 'astro:assets';
import menuImage from "../assets/images/menu.png";
---

<MainLayout title="Menu">
  <!-- Hero billede + logo -->


  <!-- Brødkrummesti-->


  <!-- Menu oversigt -->
  <section>
    <h2>Menu</h2>
    <ul>
      <li>Varme drikke</li>
      <li>Kager/Wienerbrød</li>
      <li>Mad</li>
      <li>Vin og Øl</li>
      <li>Kolde drikke</li>
    </ul>
  </section>

    <!-- Oversigt over salgsprodukter i caféen -->
  <section>
    <h2>Salgsprodukter i caféen</h2>
    <ul>
       <li>Just Coffee</li>
      <li>Øl</li>
       <li>Marmelade</li>
     </ul>
  </section>
  
 <!-- CTA -->


 <!-- Kontaktformular -->
    <Formular />

</MainLayout>
