---
import MainLayout from "../layouts/MainLayout.astro";
import Nyhedsbrev from "../components/Nyhedsbrev.astro";
import { Image } from 'astro:assets';
import menuhero from "../assets/images/hero_menu.webp";
---

<MainLayout title="Menu">
  <!-- OBS: NYT HERO IMAGE!!!  -->
  <section class="pb-48">
    <div class="relative">
      <Image 
                src={menuhero} alt='billede af cheesecake' class="h-[515px] w-[528px] scale-150 md:max-h-[600px] md:w-screen object-cover md:object-cover"/>
    <div class="absolute inset-0 text-center pt-24 md:ml-16 md:mt-20 m-20 mt-52 md:m-0">
    <h1 class="text-44 md:text-52 font-EBGaramond md:mb-[-40px] mb-10 text-color-mørkebrun">Menu</h1>
    </div>
    </div>
  </section>

  
  <h1></h1>

  <!-- varme drikke -->
  <section>

  </section>
 

<Nyhedsbrev></Nyhedsbrev>
</MainLayout>
