---
// Importer nødvendige komponenter
import MainLayout from "../layouts/MainLayout.astro";
import CTASektion from '../components/CTASektion.astro';
import Formular from "../components/Formular.astro";
import { Image } from 'astro:assets';
import menukortImage from "../assets/images/menukort.png";
---

<MainLayout title="Menukort - Esso Café">
  <!-- Hero billede + logo -->


  <!-- Brødkrummesti-->


  <!-- Menu oversigt -->
  <section>
    <h2>Menukort</h2>
    <ul>
      <li>Varme drikke</li>
      <li>Kager/Wienerbrød</li>
      <li>Mad</li>
      <li>Vin og Øl</li>
      <li>Kolde drikke</li>
    </ul>
  </section>

    <!-- Oversigt over salgsprodukter i caféen -->
  <section>
    <h2>Salgsprodukter i caféen</h2>
    <ul>
       <li>Just Coffee</li>
      <li>Øl</li>
       <li>Marmelade</li>
     </ul>
  </section>
  
 <!-- CTA sektion som leder til Kontakt -->
 <CTASektion heading="Dette er en CTA-sektion fx til Kontakt (mikro)" text="Besøg os her" />

 <!-- Kontaktformular -->
    <Formular />

</MainLayout>
