---
// Importer nødvendige komponenter
import MainLayout from "../layouts/MainLayout.astro";
import CTASektion from '../components/CTASektion.astro';
import Formular from "../components/Formular.astro";
---

<MainLayout title="Om os - Esso Cph">
  <!-- Hero billede + logo -->


  <!-- Brødkrummesti-->


  <!-- Om Esso sektion -->
  <section>
    <h2>Hvordan Esso startede</h2>
    <p>Esso blev grundlagt med en vision om at skabe et kreativt space...</p>
  </section>

 <!-- Link til artikel -->
  <section>
    <h2>Artikel</h2>
  </section>

  <!-- Vision, mission og værdier -->
  <section>
    <h2>Vission, mission og værdier</h2>
    <p>Ønske om at skabe et kreativt space (ikke kun en café) </p>
  </section>

 <!-- Sektion for samarbejdspartnere -->
  <section>
    <h2>Sektion om samarbejdspartnere. Kelding Brew, ølbrygning...</h2>
  </section>

 <!-- Sektion for events -->
  <section>
    <h2>Sektion om events</h2>
  </section>

  <!-- CTA sektion - evt. uden knap? -->
  <!-- <CTASektion heading="En sektion om samarbejde og events" text="Find ud af, hvordan vi skaber en unik oplevelse" /> -->

   <!-- Kontaktformular -->
    <Formular />

</MainLayout>
