---
const {variant= "primary" , size= "medium"} = Astro.props;

const buttonStyling = "text-white rounded-border-radius-25 py-[15px] transition transform hover:opacity-[.66] "


const variantClasses = 
{
    primary : "bg-color-mørkebrun px-[80px]",
    secondary: "bg-color-lysebrun px-[80px]",
};

// small for mobil og medium for desktop
const sizeClasses = {
    small: "text-16",
    medium: "text-18",
};

---
<div>
    <button class:list={[buttonStyling, variantClasses[variant], sizeClasses[size]]}><slot /></button>
</div>











