---
import Button from './Button.astro';
import { Image } from 'astro:assets';
---

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">


<!-- Overskrift -->

<!-- Brødtekst -->

<!-- Billeder -->

<!-- CTA-knap -->

<!-- Footer-tekst -->
<div>
    <p class="max-w-screen-xl mx-auto text-white">Footer - tilføj footerindhold</p>
</div>
      


<style></style>

<script></script>