---
import Button from '../components/Button.astro';
---

<section class="bg-gray-100 p-6 rounded-lg">
    <h2 class="text-2xl font-semibold mb-4">Tilmeld dig vores nyhedsbrev</h2>
    <form action="/nyhedsbrev" method="POST">
      <label for="name" class="block text-sm">Navn:</label>
      <input type="text" id="name" name="name" class="w-full p-2 mb-4 border border-gray-300 rounded-md" required />
      
      <label for="email" class="block text-sm">E-mail:</label>
      <input type="email" id="email" name="email" class="w-full p-2 mb-4 border border-gray-300 rounded-md" required />
      
      <button type="submit" class="w-full py-3 bg-blue-500 text-white rounded-lg hover:bg-blue-700">Tilmeld dig</button>
    </form>
    <br>
    <Button variant="primary", size="small">Se vores menu</Button>
    <br>
    <Button variant="secondary", size="medium">Læs mere her</Button>
  
  </section>
  