---
const { textMobile, textDesktop, link, backgroundColor, textColor, size, additionalClasses } = Astro.props;
---

<!-- Knapvarianter -->
<div>
    <button class="border-2 border-black"><slot /></button>
</div>