---
import Image from "astro/components/Image.astro"
import logo from '../assets/images/logo.webp'
---


<!-- Navigation (desktop) -->



<!-- Logo (synligt på desktop) -->





<div class="max-w-screen-xl mx-auto text-white">
    Header/Navigation
</div>
    

<!-- Burgermenu (mobil) -->

<!-- Logo (synligt på mobil) -->



<!-- Burgermenu knap (mobil) -->

<!-- Knap (X) -->

<!-- Links -->
