---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import '../styles/tailwind.css';
import 'animate.css';

const { title = "Esso Café", description = "Velkommen til Esso Café." } = Astro.props;
---
<!-- husk meta beskrivelse  -->
<html lang="da">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />
      <script src="https://cdn.jsdelivr.net/npm/alpinejs@2.8.2/dist/alpine.min.js" defer></script>
  </head>

  <body class="bg-color-hvid text-color-mørkebrun">
    <header>
      <Header />
    </header>

    <main class="p-sm">
      <slot />
    </main>

    <footer class="bg-color-mørkebrun text-color-hvid pb-0">
      <Footer />
    </footer>
  </body>
</html>
