---
import Header from "../components/basics/Header.astro";
import Footer from "../components/basics/Footer.astro";
import '../styles/tailwind.css';
import 'animate.css';

const { title = "Esso Café", description = "Velkommen til Esso Café." } = Astro.props;
---

<html lang="da">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />
  </head>

  <body class="bg-neutral-100 text-neutral-900">
    <header class="bg-blue-500">
      <Header />
    </header>

    <main class="p-sm">
      <slot />
    </main>

    <footer class="bg-blue-500">
      <Footer />
    </footer>
  </body>
</html>
